osx_image: xcode10.2
language: objective-c

jobs:
  include:
    - stage: Testing Rates App
      script:
      - |
        set -eo pipefail
        xcodebuild test -enableCodeCoverage YES -project Rates.xcodeproj -scheme Rates \
          -sdk iphonesimulator \
          -destination 'platform=iOS Simulator,name=iPhone XÊ€' | xcpretty
